/Documentation/out/
/Documentation/latexdiff-base/
/Documentation/gitDescription.tmp
/Documentation/src/**/*.aux
/Documentation/src/**/*.gz
/Documentation/src/**/*.log
/Documentation/src/**/*.out
/Documentation/src/**/*.toc